.circle-rating{
    position: relative;
    display: inline-block;
    .text-content{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2em;
        font-weight: 500;
    }
}