.celebrity{
    .image{
        display: flex;
        align-items: center;
        position: relative;
        img{
            width: 180px;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 50%;
            border: .4rem solid var(--primary-color);
            z-index: 2;
        }
        .titles{
            background-color: #000000c2;
            font-size: 1.6rem;
            padding: 6px 30px 6px 50px;
            transform: translate(-40px, 40px);
            backdrop-filter: blur(5px);
            border-radius: 5px 45px 45px 0px;
            border-top: 2px solid var(--primary-color);
            border-right: 2px solid var(--primary-color);
            .name{
                margin-bottom: 5px;
                font-weight: 500;
                color: var(--primary-color);
            }
            .department{
                font-size: 1rem;
            }
        }
    }
    .socialIds{
        display: flex;
        align-items: center;
        gap: .4rem;
        flex-wrap: wrap;
        margin: .4rem;
        a{
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 3px;
            padding: 4px 8px;
            background-color: var(--surface-100);
            border-radius: 20px;
            color: var(--surface-700);
            img{
                width: 1rem;
            }
        }
    }
    .overview{
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 1rem;
        padding: 10px;
        h2{
            border-left: 2px solid var(--primary-color);
            margin-top: 10px;
            padding-left: 10px;
            margin-bottom: 10px;
        }
        .about{
            .field{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: var(--surface-100);
                padding: 0.2rem .4rem;
                border-radius: 20px;
                margin-bottom: 5px;
                font-size: .8rem;
                color: var(--surface-700);
                strong{
                    font-weight: 500;
                    color: var(--primary-color);
                    
                }
            }
        }
        .bio{
            p{
                background-color: var(--surface-100);
                color: var(--surface-700);
                padding: 10px;
                border-radius: 10px;
                font-size: .8rem;
            }
        }
    }
}
@media screen and (max-width: 767px){
    .celebrity{
        .image{
            img{
                width: 128px;
            }
            .titles{
                font-size: 1.3rem;
                transform: translate(-40px, 20px);
            }
        }
        .overview{
            grid-template-columns: 1fr;
        }
    }
}