<app-page-loader [loading]="isLoading"></app-page-loader>
<div class="celebrity">
  <app-celebrity-hero-section [credits]="recentProject">
    <div class="image">
      <img [src]="imageUrl + currentCelebrity?.profile_path" alt="" />
      <div class="titles">
        <div class="name">{{ currentCelebrity?.name }}</div>
        <div class="department">
          {{ currentCelebrity?.known_for_department }}
        </div>
      </div>
    </div>
  </app-celebrity-hero-section>
  <div class="socialIds" *ngIf="externalIDs">
    <a [href]="socialPlaceholders.instagram.url + externalIDs.instagram_id" target="_blank"  *ngIf="externalIDs.instagram_id">
      <img [src]="socialPlaceholders.instagram.icon" alt="">
      <span>{{currentCelebrity?.name}}</span>
    </a>
    <a [href]="socialPlaceholders.imdb.url + externalIDs.imdb_id" target="_blank" *ngIf="externalIDs.imdb_id">
      <img [src]="socialPlaceholders.imdb.icon" alt="">
      <span>{{currentCelebrity?.name}}</span>
    </a>
    <a [href]="socialPlaceholders.twitterX.url + externalIDs.twitter_id" target="_blank" *ngIf="externalIDs.twitter_id">
      <img [src]="socialPlaceholders.twitterX.icon" alt="">
      <span>{{currentCelebrity?.name}}</span>
    </a>
    <a [href]="socialPlaceholders.facebook.url + externalIDs.facebook_id" target="_blank" *ngIf="externalIDs.facebook_id">
      <img [src]="socialPlaceholders.facebook.icon" alt="">
      <span>{{currentCelebrity?.name}}</span>
    </a>
    <a [href]="socialPlaceholders.tiktok.url + externalIDs.tiktok_id" target="_blank" *ngIf="externalIDs.tiktok_id">
      <img [src]="socialPlaceholders.tiktok.icon" alt="">
      <span>{{currentCelebrity?.name}}</span>
    </a>
  </div>
  <div class="overview">
    <div class="about">
      <h2>About</h2>
      <div class="field" *ngIf="currentCelebrity?.birthday">
        <strong>Age</strong>
        <span>{{ currentCelebrity?.birthday | age }}</span>
      </div>
      <div class="field" *ngIf="currentCelebrity?.birthday">
        <strong>Date Of Birth</strong>
        <span>{{ currentCelebrity?.birthday | date }}</span>
      </div>
      <div class="field" *ngIf="currentCelebrity?.deathday">
        <strong>Died On</strong>
        <span>{{ currentCelebrity?.deathday | date }}</span>
      </div>
      <div class="field" *ngIf="currentCelebrity?.place_of_birth">
        <strong>Place Of Birth</strong>
        <span>{{ currentCelebrity?.place_of_birth }}</span>
      </div>
      <div class="field" *ngIf="currentCelebrity?.gender">
        <strong>Gender</strong>
        <span>{{ genders[currentCelebrity?.gender || 0] }}</span>
      </div>
      <div class="field" *ngIf="currentCelebrity?.popularity">
        <strong>Popularity</strong>
        <span>{{ currentCelebrity?.popularity }}</span>
      </div>
    </div>
    <div class="bio">
      <h2>Bio</h2>
      <p>
        {{ currentCelebrity?.biography }}
      </p>
    </div>
  </div>
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-user"></i>
        <span>As Cast</span>
        <app-custom-bedge>{{
          celebrityCredits?.cast?.length?.toString()
        }}</app-custom-bedge>
      </ng-template>
      <app-cards-container
      containerType="combined"
      [combined]="celebrityCredits?.cast">
      </app-cards-container>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-user"></i>
        <span>As Crew</span>
        <app-custom-bedge>{{
          celebrityCredits?.crew.length?.toString()
        }}</app-custom-bedge>
      </ng-template>
      <ng-template pTemplate="content">
        <app-cards-container>
          @for (item of celebrityCredits?.crew; track $index) { 
            @if(item.media_type == 'movie') {
          <app-movie-card [movie]="item"></app-movie-card>
          }@else{
          <app-tvshow-card [tvShow]="item"></app-tvshow-card>
          } }
        </app-cards-container>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
