footer{
    padding: 2rem;
    border-top: 1px solid var(--accent);
    margin-top: 1rem;
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        h1{
            border-left: 3px solid var(--accent);
            padding-left: 1rem;
        }
        .about{
            span{
                color: var(--accent);
                font-weight: 500;
            }
            p{
                text-transform: capitalize;
            }
        }
        .latest{
            .container{
                height: calc(100% - 3rem);
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    a{
                        text-decoration: none;
                        color: var(--accent);
                        span{
                            color: var(--surface-800);
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .links{
            nav{
                display: flex;
                flex-direction: column;
                a{
                    text-decoration: none;
                    color: var(--primary-color);
                    // font-size: 1.2rem;
                    font-weight: 500;
                }
            }
        }
    }
    .bottom-footer{
        text-align: center;
        border-top: 1px solid #111111;
        padding: 1rem;
        text-transform: capitalize;
    }
}