.page-loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #000000cb;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        background: linear-gradient(0deg, #00000000 33%, var(--primary-color) 100%);
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: #263238;
      }
      @keyframes rotation {
        0% { transform: rotate(0deg) }
        100% { transform: rotate(360deg)}
      } 
}