.movie-card{
    width: 100%;
    position: relative;
    &.active{
        &:hover{
            .bottom{
                span{
                    color: var(--primary-color);
                }
            }
        }
    }
    .float-btns{
        position: absolute;
        top: 0;
        padding: .5rem;
        left: 0;
        width: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i.pi{
            font-size: 20px;
            color: #fff;
            cursor: pointer;
            transition: all .3s;
            margin-left: auto;
        }
        .pi-heart:hover{
            color: var(--primary-color);
        }
        i.pi:active{
            scale: 1.1;
        }
        i.pi-heart-fill{
            color: var(--primary-color);
        }
        span{
            background-color: var(--primary-color);
            color: #fff;
            font-size: 12px;
            border-radius: 10px;
            padding: 0 5px;
            line-height: 14px;
        }
    }
    a{
        text-decoration: none;
        .titles{
            padding: .1rem .4rem;
            border-radius: 20px;
            h4{
                margin-bottom: 0;
                color: var(--primary-color);
                font-weight: 500;
                overflow:hidden;
                -webkit-line-clamp: 1;
                -webkit-box-orient:vertical;
                display:-webkit-box;
                white-space:normal;
            }
            .bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;
                span{
                    margin: auto 0;
                }
            }
        }
    }
}