<header>
  <a routerLink="home" class="logo"> Showbiz<span>Hub.</span> </a>
  <nav>
    @for (menuItem of navigationMenu[0].items; track $index) {
    <a [routerLink]="menuItem.routerLink" routerLinkActive="active">
      <i [class]="menuItem.icon"></i> <span>{{ menuItem.label }}</span>
      </a
    >
    }
  </nav>
  <form [formGroup]="searchForm" (ngSubmit)="initSearch('button')">
    <p-inputSwitch
      formControlName="theme"
      (onChange)="switchTheme($event)"
      [style]="{ display: 'flex', marginRight: '3px' }"
      label="Dark Mode"
    ></p-inputSwitch>
    <p-autoComplete
      formControlName="query"
      [suggestions]="results"
      (completeMethod)="filterResults($event)"
      field="name"
      (onKeyUp)="initSearch($event)"
      (onSelect)="gotoResult()"
      placeholder="Search"
      dropdownIcon="pi-search"
      [inputStyle]="{ paddingRight: '2rem' }"
    >
      <ng-template let-result pTemplate="item">
        <div class="flex align-items-center gap-2">
          <app-auto-complete-card [item]="result"></app-auto-complete-card>
        </div>
      </ng-template>
    </p-autoComplete>
    <p-button
      [rounded]="true"
      type="submit"
      [rounded]="true"
      [style]="{ scale: '0.7', fontSize: '2rem' }"
      icon="pi pi-search"
    >
    </p-button>
  </form>

  <p-avatar
    image="../../../assets/images/logo.png"
    styleClass="mr-2"
    size="normal"
    shape="circle"
    (click)="menu.toggle($event)"
  >
    <p-menu #menu [model]="userMenu" [popup]="true"></p-menu>
  </p-avatar>

  <button (click)="navmenu.toggle($event)" class="menu-btn">
    <i class="pi pi-bars"></i>
  </button>
  <p-menu #navmenu [model]="navigationMenu" [popup]="true"></p-menu>
</header>
