.custom-tag {
    background-color: var(--primary-color);
    color: #fff;
    padding: .2rem .5rem;
    border-radius: 1.4rem;
    display: flex;
    align-items: center;
    width: max-content;
    gap: 3px;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;

    &.secondary{
        background-color: #464646;
    }
    &.tags{
        background-color: var(--surface-100);
        color: #0477c4;
        &:hover{
            color: #0080a7;
        }
    }
    &.small{
        scale: 0.6;
    }

    i {
        font-size: .8rem;
    }
}