<div class="wrapper">
  <h2 style="margin-bottom: 0">Filters</h2>
  <form [formGroup]="filtersForm">
    <!-- <p-calendar formControlName="date"></p-calendar> -->
    <p-dropdown
      formControlName="sortBy"
      [options]="allSorts"
      optionLabel="name"
      placeholder="Sort By"
    ></p-dropdown>
    <p-calendar
      formControlName="year"
      view="year"
      dateFormat="yy"
      inputId="yearpicker"
      [showClear]="true"
      placeholder="Filter by Year"
    ></p-calendar>

    <p-multiSelect
      [options]="allGenres"
      formControlName="withGenres"
      optionLabel="name"
      placeholder="Select Genres"
    ></p-multiSelect>
    <p-autoComplete
      [suggestions]="allKeywords"
      (completeMethod)="filterByKeywords($event)"
      formControlName="withKeywords"
      placeholder="Filter by Keywords"
      field="name"
      [lazy]="true"
      [multiple]="true"
    >
      <ng-template let-item pTemplate="item">
        <div class="flex align-items-center gap-2 mb-2">
          {{ item.name }}
        </div>
      </ng-template>
    </p-autoComplete>
    <p-autoComplete
      [suggestions]="allCelebrities"
      (completeMethod)="filterByCelebrity($event)"
      formControlName="withCast"
      placeholder="Filter by Celebrities"
      field="name"
      [lazy]="true"
      [multiple]="true"
    >
      <ng-template let-celebrity pTemplate="item">
        <div class="flex align-items-center gap-2 mb-2">
          <img
            [src]="
              celebrity.profile_path
                ? 'http://image.tmdb.org/t/p/w45' + celebrity.profile_path
                : placeholderImage
            "
            style="width: 32px; object-fit: cover; aspect-ratio: 1/1"
          />
          <span>{{ celebrity.original_name }}</span>
          @if (celebrity.adult) {<p-badge
            value="18+"
            severity="danger"
          ></p-badge
          >}
        </div>
      </ng-template>
    </p-autoComplete>
  </form>
</div>
