<div class="carousel-wrapper" [style.width.%]="100 * itemsToShow">
    <div class="carousel" [ngStyle]="{ transform: 'translateX(' + translateX + ')' }">
      <ng-content></ng-content>
    </div>
    <div *ngIf="showIndicators" class="indicators">
      <span *ngFor="let item of carouselItems; let i = index" class="indicator" [class.active]="i === currentIndex" (click)="slideTo(i)"></span>
    </div>
    <button *ngIf="carouselItems.length > itemsToShow || true" class="arrow prev" (click)="slidePrev()">Prev</button>
    <button *ngIf="carouselItems.length > itemsToShow || true" class="arrow next" (click)="slideNext()">Next</button>
  </div>