.details-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #00000059;
    border-radius: 20px;
    padding: .2rem .4rem;
    margin-bottom: .4rem;
    font-size: .8rem;
    color: var(--primary-color);
    text-decoration: none;
    h1,h2,h3,h4,h5,h6,p{
        margin-bottom: 0;
        padding: 0;
        color: #fff;
    }
    img{
        width: 16px;
        border-radius: 50%;
    }
}