<div class="celebrity" [title]="person?.name">
  <div class="float-btns">
    <i
      [class]="
        person?.isFavorite?.__zone_symbol__value === true
          ? 'pi pi-heart-fill'
          : 'pi pi-heart'
      "
      [title]="
        person?.isFavorite?.__zone_symbol__value
          ? 'Add to Favorites'
          : 'Remove From Favorites'
      "
      (click)="addToFavourites()"
    ></i>
  </div>
  <a [routerLink]="'/celebrities/' + person.id">
    <app-img [src]="person.profile_path ? profileUrl + person.profile_path : placeholder" style="aspect-ratio: 0.667;border-radius: .5rem;object-fit: cover;"></app-img>
    
    <div class="titles">
      <span class="gender">{{genders[person.gender]}}</span>
      <h4>{{ person?.name }}</h4>
      <span class="department">{{ person?.known_for_department }}</span>
    </div>
  </a>
</div>
