.cards-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    grid-gap: .5rem;
    padding: .5rem;

}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
    h1{
        margin-bottom: 0;
        color: var(--primary-color);
    }
    p{
        margin-bottom: 0;
    }
}
@media screen and (max-width:991px) {
    .cards-container{
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (max-width:767px) {
    .cards-container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:575px) {
    .cards-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:381px) {
    .cards-container{
        grid-template-columns: repeat(1,1fr);
    }
}