<app-hero-section [movies]="heroSectionMovies.results"></app-hero-section>
<app-cards-carousel
  [movies]="upcomingMovies.results"
  headerText="Upcoming Movies"
></app-cards-carousel>
<app-cards-carousel
  [celebs]="celebrities?.results"
  headerText="Popular Celebrities"
></app-cards-carousel>
<app-top-titles showAs="column" label="Trending Now">
  <app-cards-container
    containerType="combined"
    path="trending"
    [params]="'/all/day'"
    [multipleResults]="true"
    [autoLoad]="false"
  ></app-cards-container>
</app-top-titles>
