.wrapper {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .4rem;

    .content {
        text-align: center;
        h1 {
            color: var(--primary-color);
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }
    }

}