.auto-complete-card{
    display: flex;
    align-items: center;
    h6{
        font-size: 1rem !important;
        margin-bottom: 0;
        overflow:hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient:vertical;
        display:-webkit-box;
        white-space:normal;
        padding: 0 .5rem;
    }
    img{
        width: 32px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
    }
    .custom-tag{
        font-size: .6rem;
        width: max-content;
    }
}