@if (movies) {
<p-carousel
  [value]="movies"
  [numVisible]="6"
  [numScroll]="1"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]="6000"
  [circular]="true"
  [showNavigators]="false"
>
  <ng-template pTemplate="header">
    <div class="titles">
      <app-top-titles [label]="headerText">
        <p-button [rounded]="true" label="Explore Movies" routerLink="/movies/" icon="pi pi-arrow-right" size="small">
        </p-button>
      </app-top-titles>
      
    </div>
  </ng-template>
  <ng-template let-movie pTemplate="item">
    <div style="margin: 0 10px">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </ng-template>
</p-carousel>
}@else if(tvshows){
<p-carousel
  [value]="tvshows"
  [numVisible]="6"
  [numScroll]="1"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]="6000"
  [circular]="true"
  [showNavigators]="false"
>
  <ng-template pTemplate="header">
    <div class="titles">
      <app-top-titles [label]="headerText">
        <p-button [rounded]="true" label="Explore TV Shows" size="small" routerLink="/tvshows/" icon="pi pi pi-arrow-right">
        </p-button>
      </app-top-titles>
      
    </div>
  </ng-template>
  <ng-template let-movie pTemplate="item">
    <div style="margin: 0 10px">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </ng-template>
</p-carousel>
}@else if(celebs){
<p-carousel
  [value]="celebs"
  [numVisible]="6"
  [numScroll]="6"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]="6000"
  [circular]="true"
  [showNavigators]="false"
>
  <ng-template pTemplate="header">
    <div class="titles">
      <app-top-titles [label]="headerText">
        <p-button [rounded]="true" label="Explore Celebrities" size="small" routerLink="/celebrities/" icon="pi pi pi-arrow-right">
        </p-button>
      </app-top-titles>
      
    </div>
  </ng-template>
  <ng-template let-movie pTemplate="item">
    <div style="margin: 0 10px">
      <app-celebrity-card [person]="movie"></app-celebrity-card>
    </div>
  </ng-template>
</p-carousel>
}
