<p-toast position="bottom-center"></p-toast>
<p-card
  header="Login to ShowbizHub"
  subheader="Enter Your Credentials"
  [style]="{ width: '100%', height:'calc(100vh - 2rem)', display: 'grid', placeItems: 'center' }"
>
  <ng-template pTemplate="header"> </ng-template>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="p-float-label">
      <input pInputText id="email" formControlName="email" />
      <label for="email">Email</label>
    </div>
    <span class="p-float-label">
      <p-password
        formControlName="password"
        [toggleMask]="true"
        [feedback]="false"
        [inputStyle]="{width: '100%'}"
      >
      </p-password>
      <label for="password">Password</label>
    </span>
    <a routerLink="/password-reset" style="margin-bottom: .4rem;">Forgot Password</a>
    <div class="">
        <p-button
        label="Login"
        icon="pi pi-check"
        iconPos="right"
        type="submit"
        [rounded]="true"
        size="small"
        [disabled]="loginForm.invalid"
      ></p-button>
      <div class="mt-2">
        Don't Have an Account? <a routerLink="/signup">Create One</a>
      </div>
    </div>
  </form>
</p-card>
<app-mini-celebrity-card></app-mini-celebrity-card>
