span{
    position: relative;
    overflow: hidden;
    img{
        width: 100%;
        object-fit: cover;
        transition: all 500ms;
        &:hover{
          filter: brightness(110%) saturate(110%);
        }
    }
    .spinner{
        position: absolute;
        bottom: 900%;
        left: 50%;
        translate: -50% 0;
        transition: visibility 300ms;
        transition-delay: -300ms;
        .loader {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, var(--primary-color) 100%);
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
          }
          .loader::after {
            content: '';  
            box-sizing: border-box;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: #000000;
          }
          @keyframes rotation {
            0% { transform: rotate(0deg)}
            50% { opacity: 0.9;}
            100% { transform: rotate(360deg)}
          } 
    }
}