<div class="wrapper">
    <h2>Filters</h2>
    <form [formGroup]="filtersForm">
        <!-- <p-calendar formControlName="date"></p-calendar> -->
        <p-dropdown
          formControlName="sortBy"
          [options]="allSorts"
          optionLabel="name"
          placeholder="Sort By"
          (onChange)="submitFilters()"
        ></p-dropdown>
        <p-calendar
          formControlName="firstAirDateYear"
          view="year"
          dateFormat="yy"
          inputId="yearpicker"
          placeholder="First Release Year"
          (onChange)="submitFilters()"
        ></p-calendar>
        <p-multiSelect
          [options]="allGenres"
          formControlName="withGenres"
          optionLabel="name"
          placeholder="Select Genres"
          (onChange)="submitFilters()"
        ></p-multiSelect>
      </form>
      
</div>