<app-page-loader [loading]="isLoading"></app-page-loader>
<div
  class="movie-details"
  [ngStyle]="{
    'background-image': 'url(' + imageUrl + movieDetails?.backdrop_path + ')'
  }"
>
  <div class="content">
    <div class="left-side">
      <div class="poster">
        <app-img [src]="imageUrl + movieDetails?.poster_path" style="aspect-ratio: 0.667; border-radius: .4rem;"></app-img>
        <div class="bedge">
          <app-release-status
            [releaseDate]="movieDetails?.release_date"
          ></app-release-status>
        </div>
      </div>
      
      <div class="details">
        <h4>About <span>{{movieDetails?.title}}</span></h4>
        <app-details-line label="Status" *ngIf="movieDetails?.status">
          <span>{{movieDetails?.status}}</span>
        </app-details-line>
        <app-details-line label="Popularity" *ngIf="movieDetails?.popularity">
          <span>{{movieDetails?.popularity}}</span>
        </app-details-line>
        <app-details-line label="Budge" *ngIf="movieDetails?.budget">
          <span>{{movieDetails?.budget}}</span>
        </app-details-line>
        <app-details-line label="Revenue" *ngIf="movieDetails?.revenue">
          <span>{{movieDetails?.revenue}}</span>
        </app-details-line>
        <div class="production-companies" *ngIf="movieDetails?.production_companies">
          <h4>Production Companies</h4>
          <app-details-line  [label]="company.name" [src]="company.logo_path" [title]="company.name"*ngFor="let company of movieDetails?.production_companies" routerLink="/discover" [queryParams]="{mediaType:'movie', withCompanies: company.id}">
            <span>
              {{company.origin_country}}
            </span>
          </app-details-line>
        </div>
        <div class="production-countries" *ngIf="movieDetails?.production_countries">
          <h4>Production Countries</h4>
          <app-details-line  [label]="country.name" [title]="country.name"*ngFor="let country of movieDetails?.production_countries" routerLink="/discover" [queryParams]="{mediaType:'movie', withOriginCountry: country.iso_3166_1}">
            <span>
              {{country.iso_3166_1}}
            </span>
          </app-details-line>
        </div>
        
        <div class="Languages" *ngIf="movieDetails?.spoken_languages">
          <h4>Languages</h4>
          <app-details-line  [label]="language.name" [title]="language.english_name"*ngFor="let language of movieDetails?.spoken_languages" routerLink="/discover" [queryParams]="{mediaType:'movie', withOriginLanguage: language.iso_639_1}">
            <span>
              {{language.iso_639_1}}
            </span>
          </app-details-line>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="top-titles">
        <h1>
          {{ movieDetails?.title }}
          <span
            class="custom-bedge"
            [title]="movieDetails?.release_date | date"
            >{{ movieDetails?.release_date | date : "yyyy" }}</span
          >
        </h1>
        <app-circle-rating
          [max]="10"
          [current]="movieDetails?.vote_average?.toFixed(1)"
        ></app-circle-rating>
      </div>
      <div class="tagline">{{ movieDetails?.tagline }}</div>
      <div class="sub-details">
        <div class="genre" *ngIf="movieDetails?.genres">
          <a
            routerLink="/discover"
            [queryParams]="{mediaType:'movie', withGenres: genre.id}"
            *ngFor="let genre of movieDetails?.genres"
          >
            <div class="custom-bedge d-flex">
              <i class="pi pi-search"></i>{{ genre?.name }}
            </div>
          </a>
        </div>
        <div class="runtime" *ngIf="movieDetails?.runtime">
          &bull; {{ movieDetails?.runtime | runtime }}
        </div>
      </div>
      <div class="btns" *ngIf="movieDetails?.homepage || movieDetails?.imdb_id">
        <a [href]="movieDetails?.homepage" *ngIf="movieDetails?.homepage" target="_blank">
        <p-button icon="pi pi-home" label="Visit Homepage" [outlined]="true" size="small" [rounded]="true"></p-button>
        </a>
        <a [href]="imdbUrl + movieDetails?.imdb_id" target="_blank" *ngIf="movieDetails?.imdb_id">
          <p-button icon="pi pi-arrow-right" [outlined]="true" label="View on IMDb" size="small" [rounded]="true"></p-button>
        </a>
        
      </div>
      <div class="overview">
        <h1>Overview:</h1>
        <p>{{ movieDetails?.overview }}</p>
        <div class="keywords">
          @for (keyword of keywords?.keywords; track $index) {
          <app-custom-tag severity="tags" routerLink="/discover" [queryParams]="{mediaType:'movie',withKeywords: keyword.id}">
            <i class="pi pi-hashtag"></i>
            <span>{{ keyword.name }}</span>
          </app-custom-tag>
          }
        </div>
      </div>
      <app-top-titles
        [label]="currentVideoType + ' of ' + movieDetails?.title"
        showAs="column"
        *ngIf="isTrailer"
      >
        <iframe
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          style="width: 100%; aspect-ratio: 16/9"
          #player
        ></iframe>
      </app-top-titles>
      <app-top-titles
        [label]="'Cast ' + movieCredits.cast.length"
        showAs="column"
      >
        <p-carousel
          [value]="movieCredits.cast"
          [numVisible]="6"
          [numScroll]="6"
          [circular]="true"
          [autoplayInterval]="5000"
          [showNavigators]="false"
        >
          <ng-template let-cast pTemplate="item">
            <app-mini-celebrity-card [cast]="cast"></app-mini-celebrity-card>
          </ng-template>
        </p-carousel>
      </app-top-titles>
      <app-top-titles
        [label]="'Crew ' + movieCredits.crew.length"
        showAs="column"
      >
        <p-carousel
          [value]="movieCredits.crew"
          [numVisible]="6"
          [numScroll]="6"
          [circular]="true"
          [autoplayInterval]="5000"
          [showNavigators]="false"
        >
          <ng-template let-crew pTemplate="item">
            <app-mini-celebrity-card [crew]="crew"></app-mini-celebrity-card>
          </ng-template>
        </p-carousel>
      </app-top-titles>
      <p-tabView>
        <p-tabPanel *ngIf="movieImages.backdrops.length > 0">
          <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span>Backdrops</span>
            <app-custom-bedge>{{
              movieImages.backdrops.length.toString()
            }}</app-custom-bedge>
          </ng-template>
          <app-media-gallery
            [images]="movieImages.backdrops"
            thumbnailKey="file_path"
            type="backdrops"
            [defaultTile]="movieDetails?.title"
          ></app-media-gallery>
        </p-tabPanel>

        <p-tabPanel *ngIf="movieImages.posters.length > 0">
          <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span>Posters</span>
            <app-custom-bedge>{{
              movieImages.posters.length.toString()
            }}</app-custom-bedge>
          </ng-template>
          <app-media-gallery
            [images]="movieImages.posters"
            thumbnailKey="file_path"
            type="posters"
            [defaultTile]="movieDetails?.title"
          ></app-media-gallery>
        </p-tabPanel>

        <p-tabPanel *ngIf="movieVideos.length > 0">
          <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span>Videos</span>
            <app-custom-bedge>{{
              movieVideos.length.toString()
            }}</app-custom-bedge>
          </ng-template>
          <ng-template pTemplate="content">
            <app-media-gallery
              [videos]="movieVideos"
              thumbnailKey="key"
              type="posters"
            ></app-media-gallery>
          </ng-template>
        </p-tabPanel>

        <p-tabPanel *ngIf="similarMovies.results.length > 0">
          <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span>Similar</span>
            <app-custom-bedge>{{
              similarMovies.total_results.toString()
            }}</app-custom-bedge>
          </ng-template>
          <ng-template pTemplate="content">
            <app-cards-container
              infiniteScroll
              [infiniteScrollDistance]="1"
              [infiniteScrollThrottle]="500"
              (scrolled)="appendMoreMovies('similar', 'similarMovies')"
              [scrollWindow]="true"
            >
              @for (movie of similarMovies.results; track $index) {
              <app-movie-card [movie]="movie"></app-movie-card>
              }
            </app-cards-container>
          </ng-template>
        </p-tabPanel>

        <p-tabPanel *ngIf="recommendedMovies.results.length > 0">
          <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span>Recommended</span>
            <app-custom-bedge>{{
              recommendedMovies.total_results.toString()
            }}</app-custom-bedge>
          </ng-template>
          <ng-template pTemplate="content">
            <app-cards-container
              infiniteScroll
              [infiniteScrollDistance]="1"
              [infiniteScrollThrottle]="500"
              (scrolled)="
                appendMoreMovies('recommendations', 'recommendedMovies')
              "
              [scrollWindow]="true"
            >
              @for (movie of recommendedMovies.results; track $index) {
              <app-movie-card [movie]="movie"></app-movie-card>
              }
            </app-cards-container>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
