
// @import 'minireset.css/minireset';
// @import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "primeng/resources/primeng.css";
// @import "primeng/resources/themes/viva-dark/theme.css";
// @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";
@import url('../node_modules/lightgallery//css/lightgallery-bundle.min.css');
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// @import url('./assets/css/primeng/showbiz-dark-theme.css');
// @import url('./assets/css/primeng/showbiz-light-theme.css');
*{
    // color : #9eade6 ;
    box-sizing: border-box;
    // font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.p-avatar{
    display: grid;
    place-items: center;
}

// .p-inputtext, .p-multiselect-label, .p-button{
//     padding: var(--primeng-padding);
//     font-size: .9em;
// }
// .p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token{
//     padding: 0;
// }
// .p-dropdown-item{
//     padding: var(--primeng-padding);
//     text-transform: capitalize;
// }
// .p-dropdown-label{
//     text-transform: capitalize;
// }
// .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
//     width: 16px;
//     border-radius: 3.5px;
// }
// .p-carousel .p-carousel-indicators .p-carousel-indicator button{
//     border-radius: 5px;
//     width: 8px;
//     transition: all .5s;
// }
// .p-carousel .p-carousel-indicators .p-carousel-indicator{
//     margin-bottom: 0;
// }

// .p-galleria-close{
//     z-index: 1 !important;
// }





// .p-element.p-input-wrapper .p-autocomplete{
//     .p-autocomplete-input.p-inputtext{
//         border-radius: 0 !important;
//     }
// }
// .title-head{
    
//     margin-bottom: 0;
//     border-left: 3px solid var(--accent);
//     padding-left: 1rem;
// }
// header {
//     form{
//         border-radius: 50px;
//         background-color: #4d4d4d !important;
//     }
//     .p-inputtext{
//         border: 0 !important;
//         background-color: transparent;
//         color: #fff !important;
        
//     }
//     .p-focus{
//         border: 0;
//         outline: 0;
//     }
//     button{
//         border-radius: 50%;
//     }
//     .p-avatar{
//         display: flex;
//     }
// }
// ul{
//     margin: 0;
//     padding: 0;
// }
:root{
    // --accent: var(--focus-ring);
    --accent: var(--primary-color);
    --primeng-padding: .40rem .50rem;
    // color: rgb(165, 163, 163);
}
.switcher{
    background-color: blue !important;
}

.nav-tabs .nav-item .nav-link{
    color: var(--text-theme);
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    background-color: rgb(37, 37, 37);
    margin-right: 5px;
}
.nav-tabs .nav-item .nav-link:hover{
    border-color: var(--text-theme);
    background-color: var(--text-theme);
    color: black;
}
.nav-tabs .nav-item .nav-link.active{
    background-color: var(--text-theme);
    color: white;
    border-color: var(--text-theme);
}
.nav-tabs .nav-item .nav-link .counter{
    width: max-content;
    background-color: gray;
    color: black;
    border-radius: 5px;
    padding: 0px 3px;
    font-size: 0.8em;
    margin-left: 5px;
}
.nav-tabs .nav-item .nav-link.active .counter{
    width: max-content;
    background-color: white;
    color: black;
}
.nav-tabs{
    border-bottom-color: var(--text-theme);
    padding-bottom: 1px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
