<div
  class="hero-section"
  [ngStyle]="{
    'background-image': 'url(' + imageUrl + filterCredits[currentIndex]?.backdrop_path + ')'
  }"
  #cherosection
>
  <div class="controls">
    <a class="titles" [routerLink]="filterCredits[currentIndex]?.media_type != 'movie'?'/tvshows/' + filterCredits[currentIndex]?.id:'/movies/' + filterCredits[currentIndex]?.id">
      <span>{{filterCredits[currentIndex]?.title}}</span>
      <i class="pi pi-info-circle"></i>
    </a>
    <div class="btns">
      <button (click)="switchCredit(-1)"><i class="pi pi-angle-left"></i></button>
      <button (click)="switchCredit(1)"><i class="pi pi-angle-right"></i></button>
    </div>
  </div>

  <div class="profile">
    <ng-content></ng-content>
  </div>
</div>
