.hero-section{
    min-height: 400px;
    max-height: 600px;
    background-size: 100%;
    border-bottom: .5rem solid var(--accent);
    background-position: center;
    transition: all .5s !important;
    animation: movingBg 15s infinite ;
    // animation-play-state: running;
    position: relative;
    &:hover{
        background-size: 50%;
        animation: none;
    }
    .profile{
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
    .controls{
        text-align: end;
        padding: 10px;
        .titles{
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: #0000006e;
            width: max-content;
            margin-left: auto;
            padding: 0 10px;
            border-radius: 10px 10px 0 10px;
            text-decoration: none;
            color: var(--accent);
            font-weight: 500;
        }
        .btns{
            // display: flex;
            background-color: #0000006e;
            width: max-content;
            margin-left: auto;
            border-radius: 0 0 10px 10px;
            scale: 0.6;
            padding: 2px;
            translate: 12px -6.5px;
            button{
                border: 0;
                outline: 0;
                background-color: #ffffff3f;
                border-radius: 50%;
                aspect-ratio: 1/1;
                line-height: 0;
                cursor: pointer;
                &:active{
                    background-color: #ffffff3f;
                }
                &:hover{
                    background-color: #9494943f;
                }
            }
        }
    }

    
}
@keyframes movingBg{
    0%{
        background-position: left;
    }
    5%{
        // background-size: 45%;
        background-position: right;
    }
    50%{
        background-position: top;
    }
    55%{
        // background-size: 35%;
        background-position: top left;
    }
    100%{
        background-position: center;
    }
}
@media screen and (max-width: 767px){
    .hero-section{
        min-height: 300px;
        height: 300px;
        max-height: 300px;
    }
}